* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  }
  
  main {
    height: 100%;
  }
  
  .amu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  }
  
  
  .amu-text {
    padding: 1rem 0;
    font-weight: lighter;
  }
  
  .passwordedit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .passwordedit-form {
    width: 22em;
    padding: 1rem 0.75rem; 
    border-radius: 10px;
    margin-top: 2rem;
  }
  
  #passwordedit1 {
    width: 100%;
    height: 1.5rem;
    border-radius: 3px;
    padding: 0.5rem;
  }
  
  #passwordedit2 {
    width: 100%;
    height: 1.5rem;
    border-radius: 3px;
    padding: 0.5rem;
  }
  
  .passwordedit1-helper1, .passwordedit1-helper2, .passwordeit1-helper3 {
    color: red;
    font-size: 12px;
    font-weight: bold;
  }
  
  .passwordedit2-helper1, .passwordedit2-helper2 {
    color: red;
    font-size: 12px;
    font-weight: bold;
  }
  
  
  button.passwordedit {
    width: 20rem;
    background-color: #ACAOEB;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 0.5rem;
    height: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  } 
  
  .passwordedit.active {
    background-color: #7F6AEE;
    
  }
  
  .passwordedit.disabled {
    cursor: not-allowed;
  }
  
  #toastContainer {
    width: 5rem;
    background-color: #ACA0EB;
    border: none;
    border-radius: 15px;
    color: white;
    margin: 5rem;
    height: 1.5rem;
    font-weight: bold;
    text-align: center;
    display: none;
  }
  
  
  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }